.arcade {
    display: block;
	position: relative;
    margin: 0 auto 1rem;
}
.bit {
	background: rgba(255, 255, 0, 0);
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0);
    
    display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top:0;
	left:0;
}
.bit--active {
	background: rgba(255, 255, 255, 1);
}