/* ==========================================================================
   Flexbox Hero styles
   ========================================================================== */

* {
	box-sizing: border-box;
}

body, html {
	width: 100%;
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.flex-hero {
  position: relative;
	height: 100%;
	min-height: 100%;
}
.flex-hero__container {
  position: relative;
	display: flex;
	flex-direction: column; 
	flex-wrap: wrap;
	height: 100%;
	min-height: 100%;
  transform: translate3d(0%, 0, 0);
}
	.flex-hero--debug {
		background:rgba(49,27,146 ,1);
	}
.flex-hero__header {
  width: 100%;
}
	.flex-hero__header--debug {
		background:rgba(25,118,210 ,1);
	}
.flex-hero__main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
  width: 100%;
}
	.flex-hero__main--debug {
		background:rgba(0,188,212 ,1);
	}
.flex-hero__main-left {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.flex-hero__main-center {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.flex-hero__main-center-content {
	flex-basis: auto;
	align-self: auto;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
}
.flex-hero__main-right {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.flex-hero__footer {
	width: 100%;
}
	.flex-hero__footer--debug {
		background:rgba(129,199,132 ,1);
	}