/* ==========================================================================
   Home styles
   ========================================================================== */
   
.home-wrapper {
	background: rgba(69, 53, 237, 1) url('./images/hero.jpg') no-repeat center top scroll;
	background-size: cover;
    
    color: rgba(252, 252, 252, 1);
}

.home-wrapper h1 {
	color: rgba(252, 252, 252, 1);
	background: transparent;
	border-bottom-width: 0;
	padding: 0;
}

.flex-hero__main-center-content {
    align-self: flex-end;
}

.figure--hero {
	margin: 0;
	width: 100%;
	position: relative;
}

.figure__caption {
	text-align: center;
}

.figure__caption h1 {
	font-size: 1.6rem;
}

.figure__caption abbr {
	border-bottom-color: rgba(255, 0, 70, 1);
}

.caption__inner {
	font-size: 1.2rem;
	font-weight: 300;
}

.caption__inner a {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
	border-bottom:2px solid transparent;
}

.caption__inner a:hover {
	border-bottom-color: rgba(255, 255, 255, 1);
}

.caption__inner a.btn {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 8px 16px;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    color: #fff;
    
    border: 4px solid rgba(255, 0, 70, 1);
    border-radius: 4px;
    
    transition: all 268ms ease-out 0s;
}

.caption__inner a.btn:focus,
.caption__inner a.btn:hover {
    background: rgba(255, 0, 70, 1);
    
    transition: all 268ms ease-out 0s;
}

@media (min-width: 60rem) {
    .figure__caption {
		max-width: 500px;
		float: right;
		text-align: left;
	}
	.flex-hero__main-center-content {
		align-self: auto;
	}
}

/* ==========================================================================
   Gap styles
   ========================================================================== */
.space {
    position: relative;
    background: -webkit-linear-gradient(rgba(69, 53, 237, 0) 0%, rgba(69, 53, 237, 0.12) 50%, rgba(69, 53, 237, 0) 100%);
    background: -o-linear-gradient(rgba(69, 53, 237, 0) 0%, rgba(69, 53, 237, 0.12) 50%, rgba(69, 53, 237, 0) 100%);
    background: linear-gradient(rgba(69, 53, 237, 0) 0%, rgba(69, 53, 237, 0.12) 50%, rgba(69, 53, 237, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.space__line {
    position: absolute;
    height: 3px;
    top: 45px;
    left: 0;
    width: 100%;
    
    border-bottom: 3px solid rgba(69, 53, 237, 1);
} 
  
.space__rocket {
    position: absolute;
    top: 23px;
    left: 0;
}

.space__rocket::before {
    display: inline-block;
    
    font-family: "FontAwesome";
    content: "\f135";
    font-size: 2.8rem;
    
    color: rgba(69, 53, 237, 1);
    
    transform: rotate(45deg);
}
   
/* ==========================================================================
   Lecturers styles
   ========================================================================== */
.lecturers-wrapper,
.contact-wrapper {
    position: relative;
    min-height: 100vh;
    padding-bottom: 91px;
}

.flex-grid__wrapper-gap {
    height: 91px;
    max-height: 91px;
}

.lecturer {
    background: rgba(248, 248, 248, 1);
    margin-bottom: 1rem;
    border-radius: 0.5rem;	 
}

.lecturer__picture {
    width: 100%;
    overflow: hidden;
}

.lecturer__picture > img {
    width: 100%;
}

.lecturer__name {
    margin: 0;
    padding: 1rem;
    
    background: rgba(69, 53, 237, 1);
    color: rgba(248, 248, 248, 1);
    height: 116px;
}

.lecturer__quote {
    position: relative;
    height: 114px;
    max-height: 114px;
    overflow: hidden;
    padding: 1rem;
    margin: 0;
    
    white-space: wrap;
    text-overflow: ellipsis;
}

.lecturer__quote:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(248, 248, 248, 0), rgba(248, 248, 248, 1) 50%);
}

.lecturer__links {
    
}

.lecturer__link {
    display: inline-block;
    padding: 1rem;
}
.lecturer__link--facebook:focus,
.lecturer__link--facebook:hover {
    color: rgba(59,89,153 ,1);
}
.lecturer__link--twitter:focus,
.lecturer__link--twitter:hover {
    color: rgba(85,172,238 ,1);
}
.lecturer__link--linkedin:focus,
.lecturer__link--linkedin:hover {
    color: rgba(0,119,181 ,1);
}
.lecturer__link--website:focus,
.lecturer__link--website:hover {
    color: rgba(229,45,39 ,1);
}
.lecturer__link--email:focus,
.lecturer__link--email:hover {
    color: rgba(0,180,137 ,1);
}
.lecturer__link--github:focus,
.lecturer__link--github:hover {
    color: rgba(0,180,137 ,1);
}


/* ==========================================================================
   Contact styles
   ========================================================================== */
.contact-wrapper {
    position: relative;
    background: rgba(255, 0, 70, 1);
}

#gmap {
    min-height: 100vh;
}