@import url(https://fonts.googleapis.com/css?family=Crete+Round);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html {
    font-size: 62.5%
}

body {
    align-items: center;
    background-image: url('../images/photo-1429051883746-afd9d56fbdaf.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: center;
}

h1 {
    font-family: 'Varela Round', sans-serif;
}

.home h1 {
    background: rgba(0, 0, 0, .4);
    border: 5px solid white;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    font-size: 5em;
    padding: .2em .5em;
    text-align: center;
    vertical-align: middle;
    margin-bottom: .5em;
}

.home p {
    background-color: rgba(255, 255, 0, .8);
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    display: inline;
    line-height: 1.6em;
}

.home p::before {
    content: "";
    display: block;
}