/* ==========================================================================
   Navigation styles
   ========================================================================== */
   
.nav {
    position: absolute;
    width: 80%;
	max-width: 80%;
    min-height: 100vh;
    top: 0;
    left: -80%;
    background-color: #eee;
    transition: left 386ms ease;
    
    z-index: 999;
}
.nav__header {
    position: relative;
    top: 0;
    left: 0;
    min-height: 128px;
    background: url('images/nav__header.jpg') no-repeat center center scroll;
    background-size: cover;
}
.nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
    
    font-family: 'Montserrat', sans-serif;
    
    background-color: #FFF;
}
.nav__list::after {
	content: " ";
	display: table;
	clear: both;
}
.nav__item > a {
    display: block;
    padding: .75rem 1.5rem;
    border-bottom: 1px solid #EEE;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2em;
    transition: all 386ms ease;
}
.nav__item > a:hover {
    background: #f6f6f6;
    transition: all 386ms ease;
}
.nav-toggle {
    position: absolute;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
.nav-toggle > span {
    display: none;
}
.nav-toggle--open {
    top: 0;
    left: 0;
    padding: .1rem .4rem;
    font-size: 2rem;
    height: 2.8rem;
    width: 2.8rem;
    background-color: rgba(255,255,255,0.15);
}
.nav-toggle--close {
    right: 0;
    top: 0;
    padding: .1rem .4rem .1rem .6rem;
    font-size: 2rem;
    height: 2.8rem;
    width: 2.8rem;
    background-color: rgba(255,255,255,0.15);
}
.icon:before, [class^="icon--"]:before, [class*=" icon--"]:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0;
    position: relative;
    line-height: 1rem;
    top: 0;
    text-align: center;
}
.icon--open:before {
    content: "\f0c9";
}
.icon--close:before {
    content: "\f00d";
}
.js__nav-is-open .nav {
    left: 0;
    transition: left 386ms ease;
}
.js__nav-is-open .icon--open:before {
    transform: rotate(90deg);
}

/* ==========================================================================
   Footer
   ========================================================================== */
.nav__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.socialmedia {
    width: 100%;
}
.socialmedia__link {
    float: left;
    width: 20%;
    padding: 12px 0;
    
    font-size: 24px;
    text-align: center;
    color: rgba(69, 53, 237, 1);
}
.socialmedia__link--facebook:focus,
.socialmedia__link--facebook:hover {
    color: rgba(59,89,153 ,1);
}
.socialmedia__link--twitter:focus,
.socialmedia__link--twitter:hover {
    color: rgba(85,172,238 ,1);
}
.socialmedia__link--linkedin:focus,
.socialmedia__link--linkedin:hover {
    color: rgba(0,119,181 ,1);
}
.socialmedia__link--website:focus,
.socialmedia__link--website:hover {
    color: rgba(229,45,39 ,1);
}
.socialmedia__link--email:focus,
.socialmedia__link--email:hover {
    color: rgba(0,180,137 ,1);
}

@media (min-width: 60rem) {
    .nav-toggle--open, .nav-toggle--close {
        display: none;
    }
    .nav {
        float: right;
        position: relative;
        width: auto;
        max-width: auto;
        height: auto;
        min-height: auto;
        background-color: transparent;
        padding-top: 2.6rem;
        transition: all 386ms ease;
        top: 0;
        left: 0;
    }
    .nav__header,
    .nav__footer {
        display: none;
    }
    .nav__list {
        background-color: transparent;
    }
    .nav__item {
        float: left;
        text-transform: uppercase;
        margin-left: 1.4rem;
    }
    .nav__item:first-of-type {
        margin-left: 0;
    }
    .nav__item > a {
        display: block;
        padding: 0;
        padding-bottom: 4px;
        
        border-bottom: 4px solid;
        border-color: transparent;
        
        text-decoration: none;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
    }
    .nav__item > a:hover {
        background: transparent;
        border-color: rgba(255, 255, 255, 1);
    }
    .nav__item--active > a {
        border-color: rgba(255, 255, 255, 1);
    }
}