/* ==========================================================================
   Repo styles
   ========================================================================== */

.repo {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(212, 212, 212, 1);
    border-radius: 4px;
    
    margin-bottom: 1rem;
}

.repo__header {
    padding: 0.5rem;
    background: rgba(212, 212, 212, 1);
}

.repo__body {
    padding: 0.5rem;
}

.repo__name {
    font-size: 1.2rem;
    margin: 0;
}

.repo__meta > span {
    display: block;
}

.repo__created-at::before,
.repo__pushed-at::before,
.repo__language::before {
    font-family: FontAwesome;
    display: inline;
}

.repo__created-at::before {
    content: "\f133";
}

.repo__pushed-at::before {
    content: "\f073";
}

.repo__language::before {
    content: "\f1ab";
}

.repo__links > a {
    display: block;
}

.repo__links a {
    text-decoration: none;
    border-bottom: 1px solid rgba(33, 33, 33, 1);
}

.repo__links a::before {
    font-family: FontAwesome;
    display: inline;
}

.link--html::before {
    content: "\f08e";
}

.link--clone::before {
    content: "\f24d";
}