// --------------------------------------------------
// Layout 404 page
// --------------------------------------------------

.fs__bkgnd--404 {
    background: rgba(69, 53, 237, 1) url('../img/404.jpg') no-repeat center top scroll;
}

.fs--404 {
    
    .fs__title {
        font-size: 2rem;
        color: rgba(232, 232, 232, 1);
        text-transform: uppercase;
    }
    
    .fs__content {
        font-size: 1.2rem;
        color: rgba(232, 232, 232, 1);
    }
}