// --------------------------------------------------
// Module: Card
// --------------------------------------------------

.card {
  border: 1px solid ahs-color-palette('lightgrey', 'base');
	margin-bottom: 1.5rem;
	box-shadow: 2px 4px 5px 0px ahs-color-palette('lightgrey', 'lighter');
  background: mix(white, $ahs-lightgrey, 96%);
  
  &__picture {
      display: block;
      height: 180px;
      width: 100%;
      overflow: hidden;
  }
  
  &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  
  &__content {
      
  }
  
}