/*.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  &__picture {
    overflow: hidden;

    & > img {
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;      
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    position: relative;
    
  }

  &__baseline {
    position: relative;
    display: inline;
    padding: 1.875rem;
    margin: 0;
    max-width: 82vw;

    background: ahs-color-palette('ahs-blue', 'base');
    color: ahs-color-palette('ahs-blue', 'light');

    & strong {
      color: ahs-color-palette('ahs-blue', 'light');
    }

    & > p {
      margin: 0;
    }
  }

  &__headline {
    position: relative;
    display: inline;
    padding: 1.625rem;
    margin: 0 0 1.625rem 0;
    max-width: 82vw;

    font-family: $primary-font-family;
    font-size: 3.875rem;
    font-weight: 500;
    color: ahs-color-palette('ahs-blue', 'mid-dark');
    line-height: 1.2;
    letter-spacing: .0625em;
    text-shadow: 0 0 20rem ahs-color-palette('ahs-blue', 'dark');;
    text-align: left;

    background: rgba(255, 255, 255, 0.6);

    & strong {
      font-weight: 600;
    }

    & em {
      font-weight: 600;
      font-size: 2rem;
    }

    & > p {
      margin: 0;
    }

    &::before {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;

      content: ' ';

      background: rgba(255, 255, 255, 0.62);
      //box-shadow: 0 1rem 4rem 0 opacify(ahs-color-palette('ahs-blue', 'light'), 0.6);
      filter: blur(4px);
    }
  }
}*/
.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left;
  justify-content: top;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  &__picture {
    overflow: hidden;

    & > img {
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;      
    }
  }

  &__hello {
    font-weight: 300;
    font-size: 2rem;
  }

  &__ahs {
    display: inline-block;
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    border: 0.9125rem solid ahs-color-palette('ahs-blue', 'light');
    border-bottom-right-radius: 0;
  }

  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: left;
    justify-content: center;
    width: 62%;
    height: 86%;

    background: ahs-color-palette('ahs-blue', 'base');
    color: ahs-color-palette('ahs-blue', 'light');

    &::before {
      position: absolute;
      display: block;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      content: ' ';

      box-shadow: 0 0 1rem 0 ahs-color-palette('ahs-blue', 'mid-dark');
    }

  }
  &__headline {
    position: relative;
    display: inline;
    padding: 1.625rem;
    margin: 0 0 1.625rem 0;
    max-width: 82vw;

    font-family: $primary-font-family;
    font-size: 3.875rem;
    font-weight: 500;
    color: ahs-color-palette('ahs-blue', 'light');
    line-height: 1.2;
    letter-spacing: .0625em;
    text-align: left;

    & strong {
      font-weight: 600;
    }

    & em {
      font-weight: 600;
      font-size: 2rem;
    }

    & > p {
      margin: 0;
    }
  }

  &__baseline {
    position: relative;
    display: inline;
    padding: 1.875rem;
    margin: 0;

    color: ahs-color-palette('ahs-blue', 'light');
    

    & strong {
      color: ahs-color-palette('ahs-blue', 'light');
    }

    & > p {
      margin: 0;
    }
  }
}