.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  &__picture {
    overflow: hidden;

    & > img {
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;      
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    position: relative;
    
  }

  &__baseline {
    position: relative;
    display: inline;
    padding: 1.875rem;
    margin: 0;
    max-width: 82vw;

    background: ahs-color-palette('ahs-blue', 'base');
    color: ahs-color-palette('ahs-blue', 'light');

    & strong {
      color: ahs-color-palette('ahs-blue', 'light');
    }

    & > p {
      margin: 0;
    }
  }

  &__headline {
    position: relative;
    display: inline;
    padding: 1.625rem;
    margin: 0 0 1.625rem 0;
    max-width: 82vw;

    font-family: $primary-font-family;
    font-size: 3.875rem;
    font-weight: 500;
    text-transform: uppercase;
    color: ahs-color-palette('ahs-blue', 'base');
    line-height: 1.2;
    letter-spacing: .0625em;
    text-shadow: 0 0 20rem ahs-color-palette('ahs-blue', 'mid-dark');;
    text-align: left;

    background: rgba(255, 255, 255, 0.6);

    & strong {
      font-weight: 600;
    }

    & em {
      font-weight: 600;
      font-size: 2rem;
    }

    & > p {
      margin: 0;
    }

    &::before {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;

      content: ' ';

      background: rgba(255, 255, 255, 0.62);
      //box-shadow: 0 1rem 4rem 0 opacify(ahs-color-palette('ahs-blue', 'light'), 0.6);
      filter: blur(4px);
    }
  }
}