---
layout: default
---

<div class="fs fs--404 fs__bkgnd fs__bkgnd--404">
    <div class="fs__container">
        <div class="fs__header">
        </div>
        <div class="fs__main">
            <div class="fs__main-left">
            </div>
            <div class="fs__main-center">
                <div class="fs__main-center-content">
                    <div class="row align-center">
                        <div class="column small-12 medium-8 large-6 align-self-middle">
                            <h1 class="fs__title">{{ page.title }}</h1>
                            <div class="fs__content">{{ content }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fs__main-right">
            </div>
        </div>
        <div class="fs__footer ">
        </div>
    </div>
</div>

<script type="text/javascript">
  var GOOG_FIXURL_LANG = '{{ site.language }}';
  var GOOG_FIXURL_SITE = '{{ site.url }}';
</script>
<script type="text/javascript"
  src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
</script>
